<% if flash[:error] %>
  <p class="alert alert-danger mt-4 mb-0" role="alert">
    <%= flash[:error] %>
  </p>
<% end %>
<% if @user.errors.any? %>
  <div class="text-danger mt-4">
    <p><%= pluralize(@user.errors.count, "error") %> <%= t('.user_error_message') %></p>
    <ul class="alert alert-danger">
      <% @user.errors.each do |error| %>
        <li class="ms-2"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="user-form mx-auto gap-3">
  <h3 class="text-center fw-bold mb-3"><%= t('.login_signup') %></h3>
  <%= render "form", user: @user %>
</div>

