<h1><%= t('.app_title') %></h1>

<h3>Dear <%= @appointment.user.name %>,</h3>
<p>
  <%= t('.mail_body') %>
</p>

<table border="1px">
  <tr>
    <th style="text-align: left"><%= t('.appointment_id') %></th>
    <td><%= @appointment.id %></td>
  </tr>
  <tr>
    <th style="text-align: left"><%= t('.doctor_name') %></th>
    <td><%= @appointment.doctor.name %></td>
  </tr>
  <tr>
    <th style="text-align: left"><%= t('.appointment_time') %></th>
    <td><%= parse_time(@appointment.date_time, 1) %></td>
  </tr>
</table>
<br>
<%= link_to t('.more_details'), appointment_url(@appointment) %>