<h1><%= t('.app_title') %></h1>

<h3>Dear <%= @appointment.user.name %>,</h3>
<p>
  <%= t('.mail_body_1') %> <strong><%= t('.app_title') %></strong> <%= t('.mail_body_2') %>
</p>
<p><%= t('.appointment_details') %></p>

<table border="1px">
  <tr>
    <th style="text-align: left"><%= t('.doctor_name') %></th>
    <td><%= @appointment.doctor.name %></td>
  </tr>
  <tr>
    <th style="text-align: left"><%= t('.appointment_time') %></th>
    <td><%= parse_time(@appointment.date_time, 1) %></td>
  </tr>
</table>
<br>
<%= link_to t('.download_your_invoice'), appointment_url(@appointment, format: :pdf) %>