<div id="<%= dom_id appointment %>">
  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= appointment.user_id %>
  </p>

  <p>
    <strong>Date time:</strong>
    <%= appointment.date_time %>
  </p>

  <p>
    <strong>Currency rates:</strong>
    <%= appointment.currency_rates %>
  </p>

</div>
