<%= form_with(model: appointment) do |form| %>
  <%= form.hidden_field :doctor_id, value: appointment.doctor.id %>
  <%= form.hidden_field :uid, value: @uid %>

  <div data-appointment-target="slotForm" class="slot-form mx-auto gap-3 d-none">
    <%= render partial: 'slot_form', locals: { form: form } %>
  </div>
  <div data-appointment-target="userForm" class="user-form mx-auto gap-3 d-none">
    <%= render partial: 'user_form', locals: { form: form } %>
  </div>
<% end %>
